body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-image: linear-gradient(to bottom, #2c2c46, #313163, #685db1);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text1 {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.yun {
    position: absolute;
    bottom: 0;
    right: 270px;
    width: 100px;
    height: 300px;
    z-index: 1;
    opacity: 0.4;
}

.yunn {
    position: absolute;
    bottom: 20px;
    right: 70px;
    width: 100px;
    height: 300px;
    z-index: 1;
    color: white;
    font-size: 20px;
    opacity: 0.8;
}
